.spacer{
  flex: 1 1 auto;
}
a{
  text-decoration: none;
  color:#fff;
}
 .color-IDB{
  background-color:#0077cb;
  color: #fff;
 }
 span{
   color: #fff;
 }
img{

    display:block;
    margin:auto;
    margin-left: 42%;

}
img.pequeña{
  width: 50px; height: 50px;
}

@media screen and (max-width: 500px) {
  img{
    margin-left: auto;
    width: 120px; height: 40px
  }
}
.mat-menu-item{
  color: #0077cb;
}


