
.font-center{
  text-align: center;
}
table {
  width: 100.1%;
  padding-bottom: 2rem;
  height: auto;
}
th{
  background: #0077cb;
  color: #ffff;
  text-align: center;
  font-size: 1rem;

}
td{
  text-align:center;
  font-size: 1rem;
  margin: 0;
}
a{
  color: #013476;
}
.alin-regth{
text-align: right;
}
.loadding{
  max-width: 350px;
  margin: 2rem auto;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.25;
}
tr:hover{
  background: #ffff;
  color: #ffff;
  opacity: 0.90;
  box-shadow: 2px 2px 5px #999;
}
.containeru{
  width: 90%;
  margin: 0.3% 5%;
  margin-top: 0%;
}
.monto{
  font-weight: 600;
  color: #0077cb;
}.mat-button-toggle-appearance-standard{
  background: #E0E0E0;
  color: #424242;

}
.mat-button-toggle-checked {
  background:#fff ;
  color: #0077cb;
  font-weight: 550;

}
th.mat-header-cell {
  text-align: center;
}
td[_ngcontent-txw-c182] {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}
.sedes{
  width: 100%;
  justify-content: center;

}
.sedes1{
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.mat-card-payment{
  width: auto;
  padding-left: 0%;
  padding-right: 0%;

}
mat-form-field{
  width: 12%;
  padding: 1.5%;
  flex-direction: row;
  align-items: center;
  margin: 0 0;
  height: auto;
  font-size: medium;
}
.mat-raised-button{
  background: #e2e3e5;
  color: #41464b;
  font-weight: 400;
  padding: 0.3rem;
  border-radius: 4px;
  margin-left: 5%;
  width: 200px;
  height: 50px;
  font-size: larger;
}

#togle1.mat-button-toggle-checked {
  border-top: 4px #0077cb solid ;
  border-right: 4px red solid;
  font-weight:500 ;
  color: #000;
}
#togle1.mat-button-toggle-appearance-standard{
  background: #FFFF;
  color: #424242;
  border-left: 0px;
  box-shadow: 0px #ffff;
  width: auto;
}.text{
  border: 0px #FFFF;
  margin-top: 2vh;
  background: #ffff;
}
 #active.text{
  padding-top: 14px;
  font-weight: 500;
  border-right: 2px #BDBDBD solid;

}
#active.text p{
  padding-top: 15px;
  border-top:4px #0077cb solid;
}
#active1.text{
  padding-top: 14px;
  font-weight: 500;
  border-left: 2px #BDBDBD solid;

}
#active1.text p{
  padding-top: 15px;
  border-top:4px #0077cb solid;
}


.toggle{
  font-size: small;
  text-align: start;
  padding: 0;
}
table th{
  font-weight: 500;
  text-align: center;
}
.scop{
  text-align: justify;
}
.mobiletable tr:hover{
  color: #000;
  opacity: 0.90;
  box-shadow: 2px 2px 5px #999;
}
