.font-center{
  text-align: center;
}
table {
  width: 100.1%;
  padding-bottom: 2rem;
  height: auto;
}
th{
  background: #0077cb;
  color: #ffff;
  text-align: center;
  font-size: 1rem;

}
td{
  text-align:center;
  font-size: 1rem;
  margin: 0;
}
a{
  color: #013476;
}
.alin-regth{
text-align: right;
}
.loadding{
  max-width: 350px;
  margin: 2rem auto;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.25;
}
tr:hover{
  background: #ffff;
  color: #ffff;
  opacity: 0.90;
  box-shadow: 2px 2px 5px #999;
}
.containeru{
  width: 90%;
  margin: 0.3% 5%;
}
.monto{
  font-weight: 600;
  color: #0077cb;
}.mat-button-toggle-appearance-standard{
  background: #0077cb;
  color: #fff;

}
.mat-button-toggle-checked {
  background:#fff ;
  color: #000;
}
th.mat-header-cell {
  text-align: center;
}
td[_ngcontent-txw-c182] {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}
.sedes{
  width: 100%;
  justify-content: center;

}
.sedes1{
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.mat-card-payment{
  padding-left: 0%;

}
mat-form-field{
  width: 12%;
  padding: 1.5%;
  flex-direction: row;
  align-items: center;
  margin: 0 0;
  height: auto;
  font-size: medium;
}
.mat-raised-button{
  background: #0077cb;
  color: #fff;
  font-weight: 400;
  padding: 0.3rem;
  border-radius: 4px;
}
.mat-button-toggle-group{
  border: 0px;
}
.mat-raised-button{
  background: #e2e3e5;
  color: #41464b;
  font-weight: 400;
  padding: 0.3rem;
  border-radius: 4px;
  margin-left: 5%;
  width: 200px;
  height: 50px;
  font-size: medium;
}
table th{
  font-weight: 500;
  text-align: center;
}
.scop{
  text-align: justify;
}
.mobiletable tr:hover{
  color: #000;
  opacity: 0.90;
  box-shadow: 2px 2px 5px #999;
}
