<div class="container">
  <div class="row g-0">
    <div class="col-12">
      <h1>Editar Noticia {{data.n}}</h1>
    </div>
    <div class="col-12">
      <img src={{promotion.imageUrl}} alt="50" width="100" style="margin-left:15% ;">
    </div>
    <div class="col-12">
      <form [formGroup]="editNews" (ngSubmit)="edit()">
        <mat-form-field class="full-width-input" >
          <input type="text" matInput placeholder="id" formControlName="id" [(ngModel)]='promotion.id'  value={{promotion.id}}>
        </mat-form-field>
        <!--
          <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="img (150X150px)" formControlName="imageUrl" [(ngModel)]="promotion.imageUrl" value={{promotion.imageUrl}}>
        </mat-form-field>
        -->
        <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
          {{fileName || "No file uploaded yet."}}
          <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
          </button>
        </div>
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Titulo" formControlName="title" [(ngModel)]="promotion.title" value={{promotion.title}}>
        </mat-form-field>
      <ckeditor >

      </ckeditor>
          <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Contenido" formControlName="content" [(ngModel)]="promotion.content" value={{promotion.content}}>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Link" formControlName="link" [(ngModel)]="promotion.link" value={{promotion.link}}>
        </mat-form-field>
        <br>
         <button mat-button mat-dialog-close (click)="edit()">Aceptar</button>
         <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancelar</button>
      </form>

    </div>
  </div>
</div>
<mat-dialog-actions align="end">

</mat-dialog-actions>
