<body class="container">
  <div class="row g-0" >
      <div class="col-sm-2" id="left-nav">
        <div class="users">
          <br>
          <h3>Panel Administrador</h3>
          <h4>Honorarios Médicos</h4>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item" (click)="medico()">
            <a class="nav-link active" aria-current="page" ><mat-icon>person</mat-icon>Medicos</a>
          </li>
          <li class="nav-item" (click)="promo()">
            <a class="nav-link" ><mat-icon>article</mat-icon>Promociones</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10" style="margin-left: 15%; margin-top: 5%; height: auto; margin-bottom: 5rem;">
        <app-promociones *ngIf="data.isMercadeo"></app-promociones>
        <app-medicos *ngIf="data.isFinanzas"></app-medicos>
      </div>
  </div>
</body>

