<div class="container">
  <h2 mat-dialog-title>Detalle de Orden de Pago: {{data.numero}}, fecha: {{data.f|date:'dd/MM/YYYY'}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Factura</th>
        <th>Paciente</th>
        <th>Fecha de la Factura</th>
        <th>*Monto  Bs</th>
        <th>*Monto USD</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersDetails">
        <td>{{order.numero}}</td>
        <td>{{order.nombre}}</td>
        <td>{{order.fecha|date:'dd/MM/YYYY'}}</td>
        <td class="alin-regth monto">{{order.montoBs|number:'1.2-2'}}</td>
        <td class="alin-regth monto">{{order.montoDol|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <th>*Total Bs</th>
        <th>*Total USD</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="alin-regth monto">{{data.totalBs|number:'1.2-2'}}</td>
        <td class="alin-regth monto">{{data.totalDol|number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="container">
  <div class="alert alert-secondary card-message" style="text-align: left;font-size: larger;" >
  <p style="text-align: center;">*Montos después de retenciones administrativas y de Ley. Los totales incluyen el sustraendo de Ley. Para su preguntas quedamos a la orden en el departamento
    de pagos. Trabajamos por su bienestar.
  </p>
</div>
