<div class="heigth">
 <div class="login-form">
   <br>
  <mat-card>
    <mat-card-content>
      <h1>Registro del médico</h1>
      <div *ngIf="!isNewPass">
      <div class="alert alert-secondary" style="margin-top: 1.5rem;text-align: left;" >
        <p style="text-align: center;">Por favor validar y completar los datos mostrados en el formulario
        </p>
      </div>
         <div >
        <form [formGroup]="registerForms" (ngSubmit)="registrar(registerForms.value)" >
        <mat-form-field class="full-width-input" hidden>
          <input type="text" matInput placeholder="id" formControlName="id" required [(ngModel)]="medico.id" value={{medico.id}}>
        </mat-form-field>
        <mat-form-field class="full-width-input" hidden>
          <input type="text" matInput placeholder="rif" formControlName="rif" required [(ngModel)]="medico.rif" value={{medico.rif}}>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Nombres" formControlName="nombres" required [(ngModel)]="medico.nombres" value={{medico.nombres}}>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Apellidos" formControlName="apellidos" required [(ngModel)]="medico.apellidos" value={{medico.apellidos}}>
        </mat-form-field>
        <mat-form-field class="full-width-input" >
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo" [(ngModel)]="medico.sexo" value={{medico.sexo}} required>
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Femenino</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="email" matInput placeholder="Correo electrónico" required [(ngModel)]="medico.email" formControlName="email" value={{medico.email}}>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="tel" matInput placeholder="Celular" required [(ngModel)]="medico.celular" formControlName="celular" value={{medico.celular}}>
        </mat-form-field>
        <mat-form-field class="full-width-input" >
          <mat-label  >{{this.especialidades[medico.especialidad!].especialidad||'Seleccione una especialidad'}}</mat-label>
          <mat-select formControlName="especialidad" required [(ngModel)]='medico.especialidad' >
            <mat-option *ngFor="let especialidad of especialidades" required  value={{especialidad.id}}>{{especialidad.especialidad}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Zona de residencia" required [(ngModel)]="medico.zona" formControlName="zona" value={{medico.zona}}>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Ciudad" required formControlName="ciudad" [(ngModel)]="medico.ciudad" value={{medico.ciudad}}>
        </mat-form-field>
        <div class="alert alert-secondary" style="margin-top: 1.5rem;text-align: left;" >
          <p>Al pulsar "Avanzar" usted esta aceptando las <a style="cursor: pointer; color: #013476;">políticas de términos y condiciones</a>, y el mandato de cobranzas del Grupos de Clínicas IDB
          </p>
        </div>
        <button type="submit"mat-raised-button class="backgroundButton"[disabled]="registerForms .invalid">Avanzar</button>
        </form>
      </div>
      </div>
      <div *ngIf="isNewPass">
        <div class="alert alert-secondary" style="margin-top: 1.5rem;text-align: left;" >
          <p style="text-align: center;">Por favor cambie su contraseña</p>
        </div>
        <form [formGroup]="updatePassword" (ngSubmit)="updatePass(updatePassword.value)"  >
          <mat-form-field class="" style="width: 70%; margin: 0%;" >
            <input type="password" formControlName='anterior' required matInput placeholder="Contraseña anterior">
          </mat-form-field>
          <mat-form-field class="" style="width: 70%;">
            <input type="password" formControlName='nueva' required matInput placeholder="Contraseña nueva">
          </mat-form-field>
          <mat-form-field class="" style="width: 70%;">
            <input type="password" formControlName='repnuev' required matInput placeholder="Repite la contraseña">
          </mat-form-field><br>
          <button mat-raised-button type="submit" class="backgroundButton">Avanzar</button>
        </form>
      </div>
    </mat-card-content>
    <br>
    <br>
  </mat-card>
 </div>
</div>
