.Header a{
  padding-top: 15%;
  color: #033C60;
  width: auto;
  flex: 1 1;
  padding-left: 3.5rem;
  text-align: center;
  margin: 2rem auto;
  text-align: center;
  height: 350px;
}

.mat-elevation-z8{
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.fontToogle{
  font-size: 0.9rem;
}
.background{
  background: #DDDD;
  margin-top: -0px;
  background: #ddd;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

}


