<div class="container">
  <div class="row g-0">
    <mat-card>
      <div class="col-sm-12">
        <mat-form-field style="width: 100%;" >
          <mat-label>Sedes</mat-label>
          <mat-select #sede>
            <mat-option *ngFor="let sede of sedes"  [value]="sede.id">
              {{sede.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field style="width: 100%;" >
          <mat-label>Tipo de honorarios</mat-label>
          <mat-select #tipoHono>
            <mat-option value='1'>
              Honorarios Cobrados
            </mat-option>
            <mat-option value='2'>
              Honorarios por Cobrar
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12" >
        <mat-form-field style="width: 100%;" >
          <mat-label>Tipo de vista</mat-label>
          <mat-select #vista>
            <mat-option value='1'>
              Honorarios con detalles
            </mat-option>
            <mat-option  value='2'>
              Honorarios Agrupados
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field style="width: 100%;" >
          <mat-label>Fecha</mat-label>
          <mat-select #fecha>
            <mat-option [value]='mesView.id' *ngFor="let mesView of data.MesesView">
              {{mesView.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <button mat-button (click)="getOrder(sede.value,tipoHono.value,vista.value,fecha.value)" style="border: 1px #0077cb solid;color: #0077cb;margin: 1rem;"><mat-icon>filter_alt</mat-icon> Aplicar filtros</button>
      </div>
      <div class="col-sm-12" *ngIf="data.isPrevimedica">
        <table>
          <thead>
            <th>Número de Orden</th>
            <th>Número de Factura</th>
            <th>Fecha de la Orden</th>
            <th>Monto Bs</th>
          </thead>
          <tbody *ngFor="let cobroPrevi of cobrosPrevi">
            <td>{{cobroPrevi.numero}}</td>
            <td>{{cobroPrevi.factura}}</td>
            <td>{{cobroPrevi.fecha|date:'dd/MM/YYYY'}}</td>
            <td class="alin-regth monto">{{cobroPrevi.montoBs |number:'1.2-2'}}</td>
          </tbody>
        </table>
        <div class="alert alert-secondary" style="margin-top: 1.5rem;text-align: left;" *ngIf="!flag" >
          <p style="text-align: center;">{{msjx}}
          </p>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="isCobrosCobrar">
        <table>
          <thead>
            <th>Número de Factura</th>
            <th>Orden de Pago</th>
            <th>Paciente</th>
            <th>Fecha de la Factura</th>
            <th>Monto Bs</th>
            <th>Monto USD</th>
          </thead>
          <tbody *ngFor="let cobroCobrar of cobrosCobrar">
            <td>{{cobroCobrar.numero_Fact}}</td>
            <td><a (click)="openModal(cobroCobrar.numero,cobroCobrar.montoBs,cobroCobrar.montoDol,sede.value,cobroCobrar.fecha)" style="cursor: pointer; color: #013476;">{{cobroCobrar.numero}}</a></td>
            <td>{{cobroCobrar.nombre}}</td>
            <td>{{cobroCobrar.fecha_Fact|date:'dd/MM/YYYY'}}</td>
            <td class="alin-regth monto">{{cobroCobrar.monto_Bruto_Bs|number:'1.2-2'}}</td>
            <td class="alin-regth monto">{{cobroCobrar.monto_Bruto_Dol|number:'1.2'}}</td>
          </tbody>
        </table>
        <div class="alert alert-secondary" style="margin-top: 1.5rem;text-align: left;" *ngIf="!flag" >
          <p style="text-align: center;">{{msjx}}
          </p>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="isXcobrar">
        <table>
          <thead>
            <th>Número de Factura</th>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Monto Bs</th>
            <th>Monto USD</th>
          </thead>
          <tbody *ngFor="let xc of cobrosXCobrar">
            <td>{{xc.numero}}</td>
            <td>{{xc.fecha|date:'dd/MM/YYYY'}}</td>
            <td>{{xc.nombre}}</td>
            <td class="alin-regth monto">{{xc.montoBs|number:'1.2-2'}}</td>
            <td class="alin-regth monto">{{xc.montoDol|number:'1.2'}}</td>
          </tbody>
        </table>
        <div class="alert alert-secondary" style="margin-top: 1.5rem;text-align: left;" *ngIf="!flag" >
          <p style="text-align: center;">{{msjx}}
          </p>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="isAgrup">
        <table>
          <thead>
            <th>Número Orden</th>
            <th>Factura</th>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Monto Bs</th>
            <th>Monto USD</th>
          </thead>
          <tbody *ngFor="let agropu of cobrosAgroup">
            <td>{{agropu.numero}}</td>
            <td>{{agropu.factura}}</td>
            <td>{{agropu.paciente}}</td>
            <td>{{agropu.fecha|date:'dd/MM/YYYY'}}</td>
            <td class="alin-regth monto">{{agropu.montoBs|number:'1.2-2'}}</td>
            <td class="alin-regth monto">{{agropu.montoDol|number:'1.2-2'}}</td>
          </tbody>
        </table>
        <div class="alert alert-secondary" style="margin-top: 1.5rem;text-align: left;" *ngIf="!flag" >
          <p style="text-align: center;">{{msjx}}
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
