table {
  width: 100%;
  padding-bottom: 2rem;
  height: auto;
}
th{
  background: #0077cb;
  color: #ffff;
  text-align: center;
  font-size: 1rem;

}
td{
  text-align:center;
  font-size: 1rem;
  margin: 0;
}
th.mat-header-cell{
  text-align: center;
}
mat-icon{
  color: #0077cb;
}
.btn{
  background: transparent;
  border: 0px;
  color: #0077cb;
}
.btn:hover mat-icon{
  background: #0077cb;
  color: #ffff;
}
.btn:hover{
  background: #0077cb;
}
.usercard{
  box-shadow: 1.5px #000;
  border: #0077cb 1px solid;
}



